.form-group{ id: "image-id-#{image.id}"}
  .row.machine-images-row 
    .col-md-4.machine-images
      = link_to(image_tag(image.url, class: 'img-responsive', style: "max-height:8em;"), '#', html_options = {"data-target" => "#imageModal", "data-toggle" => "modal", "data-full-resolution-url" => image.url, "data-width" => image.width, "data-height" => image.height, "data-id" => image.id, "class" => "thumbnail machine-image"})
    .col-md-6
      - image.attributes.slice("public_id", "width", "height", "format", "bytes", "created_at").each do |key,value|
        .row
          .col-md-4.text-right
            %strong
              = key
          .col-md-8
            - case(key)
            - when "bytes"
              = "#{image.bytes.to_i} (#{number_to_human_size(image.bytes.to_i)})"
            - when "created_at"
              = local_time_ago(image.created_at)
            - when "width" 
              = image.width
              px
            - when "height"
              = image.height
              px
            - else
              = value
    .col-md-2.machine-images-remove-column
      %a.css_btn_class.pull-right.machine-images-remove{:href => "#", data: { id: image.id }}
        %span.glyphicon.glyphicon-remove{"aria-hidden" => "true"}