%h1 Listing images

%table
  %thead
    %tr
      %th Public
      %th Width
      %th Height
      %th Format
      %th Bytes
      %th Url
      %th Secure url
      %th Imageable
      %th Imageable type
      %th
      %th
      %th

  %tbody
    - @images.each do |image|
      %tr
        %td= image.public_id
        %td= image.width
        %td= image.height
        %td= image.format
        %td= image.bytes
        %td= image.url
        %td= image.secure_url
        %td= image.imageable_id
        %td= image.imageable_type
        %td= link_to 'Show', image
        %td= link_to 'Edit', edit_image_path(image)
        %td= link_to 'Destroy', image, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Image', new_image_path
