%nav.navbar.navbar-default.navbar-inverse
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} Junkyard Irons
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => "#{about_my_machines_show_path}"} About my Machines
        - if current_user && current_user.admin?
          %li
            %a{:href => "#{machine_sets_path}"} Buy my Machines
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => "https://instagram.com/#{RedisModel.user_name}/", :target => "_blank", :class => "instagram-link"}
            %i.fa.fa-instagram.fa-2x
        - if current_user
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              = current_user.email
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                = link_to "Edit Account", edit_user_registration_path
              - if current_user.admin?  
                %li
                  = link_to "Administrate this bitch", admin_path
                %li.divider
              %li
                = link_to "Logout", destroy_user_session_path, :method => :delete
        - else
          %li
            %a{:href => "#{new_user_session_path}"}
              Sign In