!!!
%html
  %head
    %title Junkyardirons
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false
    = javascript_include_tag 'application', 'data-turbolinks-track' => false
    / Latest compiled and minified CSS
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", :rel => "stylesheet"}
    / Optional theme
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css", :rel => "stylesheet"}
    / Latest compiled and minified JavaScript
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %link{href: "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel: "stylesheet"}
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
  %body
    .container-fluid#main-body.centered
      = flash_msg(true)
      = render partial: 'layouts/title'
      = render partial: 'layouts/nav_bar'
      = yield
      - if Rails.env == 'development'
        .row
          .col-md-12
            %br
            %br
            = debug params